<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>Lampa</title>
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- link to the last version of babylon -->
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="~/Scripts/table.js"></script>
    <script src="~/Scripts/wall.js"></script>
    <script src="~/Scripts/lamp.js"></script>
    <script src="~/Scripts/createScene.js"></script>
    <script src="~/Scripts/start.js"></script>
</head>
<body>
    <canvas id="renderCanvas"></canvas>
</body>
</html>